@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="LibraryAmountDistrict">Libraries amount by districts</a><br />
<a asp-action="AuthorAmountGenre">Author amount by genres</a><br />
<a asp-action="TopAuthorLibrary">Top author by libraries</a>