<p>
    <a asp-action="Blur">Blur</a>
</p>
<p>
    <a asp-action="Contrast">Contrast</a>
</p>
<p>
    <a asp-action="GrayScale">GrayScale</a>
</p>
<p>
    <a asp-action="Log">Log</a>
</p>
<p>
    <a asp-action="Flip">Flip</a>
</p>
<p>
    <a asp-action="Negate">Negate</a>
</p>
<p>
    <a asp-action="SobelEdges">SobelEdges</a>
</p>
<p>
    <a asp-action="ImpulseNoise">ImpulseNoise</a>
</p>
<p>
    <a asp-action="Edges">Edges</a>
</p>
<p>
    <a asp-action="Reset">Reset</a>
</p>
<p>
    <a asp-action="Download">Download</a>
</p>



