@model ImageModel

<p>@Model.Name</p>
<p>@Model.Path</p>
<p>
    <a asp-action="Blur" asp-route-path="@Model.Path">Blur</a>
</p>
<p>
    <a asp-action="Download" asp-route-path="@Model.Path">Download</a>
</p>


