<div>
    <h4>Image Upload</h4>
    <form asp-controller="Home" asp-action="SingleFile"
          enctype="multipart/form-data" method="post">
        <input type="file" name="image" />
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</div>
